# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Local virtual environment
.venv/
env/
venv/

# Python version file
.python-version

# IDEs
.vscode/
.idea/

# Logs
*.log

# Ruff cache
.ruff_cache/

# Coverage reports
.coverage
htmlcov/

# MLflow
mlruns/
mlflow.db

# Pytest
.pytest_cache/

# joblib models
model.joblib

#locally data
artifacts/production_samples.csv

# Environment variables
.env